<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Career Guide</title>
    <style>
        body {
          background-color: rgba(255, 242, 254, 0.89);
        }
      </style>
  </head>
  <body>
    <div style="width: 100%; height: 100%; position: relative"></div>
    <div style="width: 656px; height: 683px; left: 0px; top: 254px; position: absolute; background: rgba(255, 242, 254, 0.89)"></div>
    <div style="width: 369px; height: 106px; left: 539px; top: 0px; position: absolute; color: #CE3971; font-size: 60px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">Career Guide</div>
    <div style="width: 971px; height: 79px; left: 1px; top: 156px; position: absolute; color: #9F2653; font-size: 48px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">How to...</div>
    <div style="width: 656px; height: 683px; left: 0px; top: 254px; position: absolute; background: rgba(255, 242, 254, 0.89)"></div>
    <div style="width: 279px; height: 59px; left: 191px; top: 285px; position: absolute; color: #CE3971; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">Apply to Jobs</div>
    <img style="width: 596px; height: 551px; left: 32px; top: 344px; position: absolute; border-radius: 20px" src="images/hire.png"/>
    <div style="width: 656px; height: 683px; left: 839px; top: 1082px; position: absolute; background: rgba(255, 242, 254, 0.89)"></div>
    <div style="width: 656px; height: 683px; left: 839px; top: 1082px; position: absolute; background: rgba(255, 242, 254, 0.89)"></div>
    <div style="width: 380px; height: 30px; left: 985px; top: 1113px; position: absolute; color: #CE3971; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">Work-Life Balance</div>
    <img style="width: 596px; height: 551px; left: 871px; top: 1172px; position: absolute; border-radius: 20px" src="images/balance.png" />
    <div style="width: 656px; height: 683px; left: 0px; top: 1082px; position: absolute; background: rgba(255, 242, 254, 0.89)"></div>
    <div style="width: 656px; height: 683px; left: 0px; top: 1082px; position: absolute; background: rgba(255, 242, 254, 0.89)"></div>
    <div style="width: 206px; height: 59px; left: 227px; top: 1113px; position: absolute; color: #CE3971; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">Interview</div>
    <img style="width: 596px; height: 551px; left: 32px; top: 1172px; position: absolute; border-radius: 20px" src="images/interview.png" />
    <div style="width: 656px; height: 683px; left: 839px; top: 254px; position: absolute; background: rgba(255, 242, 254, 0.89)"></div>
    <div style="width: 656px; height: 683px; left: 839px; top: 254px; position: absolute; background: rgba(255, 242, 254, 0.89)"></div>
    <div style="width: 345px; height: 59px; left: 994px; top: 285px; position: absolute; color: #CE3971; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">Career Transitions</div>
    <img style="width: 596px; height: 551px; left: 871px; top: 344px; position: absolute; border-radius: 20px" src="images/growth.png" />
  </body>
</html>
