<div style="width: 100%; height: 100%; position: relative">
    <div style="width: 525px; height: 88px; left: 73px; top: 0px; position: absolute; color: #CE3971; font-size: 60px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">Financial Planning</div>
    <div style="width: 173px; height: 77px; left: 0px; top: 224px; position: absolute; background: #F7D9F4"></div>
    <div style="width: 117px; height: 44px; left: 31px; top: 239px; position: absolute; color: black; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">18-29</div>
    <div style="width: 173px; height: 77px; left: 499px; top: 386px; position: absolute; background: #F7D9F4"></div>
    <div style="width: 117px; height: 44px; left: 530px; top: 401px; position: absolute; color: black; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">50-65</div>
    <div style="width: 173px; height: 77px; left: 499px; top: 531px; position: absolute; background: #F7D9F4"></div>
    <div style="width: 142px; height: 46px; left: 530px; top: 546px; position: absolute; color: black; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">Retire!</div>
    <div style="width: 173px; height: 77px; left: 251px; top: 387px; position: absolute; background: #F7D9F4"></div>
    <div style="width: 117px; height: 44px; left: 282px; top: 402px; position: absolute; color: black; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">40-49</div>
    <div style="width: 173px; height: 77px; left: 248px; top: 223px; position: absolute; background: #F7D9F4"></div>
    <div style="width: 117px; height: 44px; left: 279px; top: 238px; position: absolute; color: black; font-size: 40px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">30-39</div>
    <div style="width: 75px; height: 0px; left: 173px; top: 259px; position: absolute; border: 2px black solid"></div>
    <div style="width: 75px; height: 0px; left: 424px; top: 423px; position: absolute; border: 2px black solid"></div>
    <div style="width: 86px; height: 0px; left: 341px; top: 301px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 2px black solid"></div>
    <div style="width: 67px; height: 0px; left: 586px; top: 464px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 2px black solid"></div>
    <div style="width: 657px; height: 196px; left: 15px; top: 750px; position: absolute; background: #FFB4FF; border-radius: 30px"></div>
</div>
    <div style="width: 589px; height: 146px; left: 42px; top: 774px; position: absolute; text-align: center; color: black; font-size: 60px; font-family: Fraunces; font-weight: 400; word-wrap: break-word">FINANCIAL CALCULATOR<iframe src="http://localhost:8502/" style="width: 100%; height: 600px; border: none;"></iframe></div>
</div>